# Environment variables for local development

COMPOSE_PROJECT_NAME=modern-data-platform
POSTGRES_DB=modern_data_platform
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
PGADMIN_DEFAULT_EMAIL=admin@local.dev
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=5050

# RAW ingestion
OLIST_SOURCE_DIRECTORY=data/external/olist
OLIST_DATASET_URL=https://www.kaggle.com/api/v1/datasets/download/olistbr/brazilian-ecommerce?datasetVersionNumber=2
RAW_SCHEMA=raw
LOG_LEVEL=INFO
