# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
.env
.env.*
!.env.example

# Testing
.pytest_cache/
.coverage
htmlcov/

# Ruff
.ruff_cache/

# dbt
target/
dbt_packages/
logs/

# Airflow
airflow/logs/*
airflow/**/*.pid
airflow/.pytest_cache/

# Docker
*.local

# Local datasets and processing artifacts
data/external/**
!data/external/.gitkeep
!data/external/olist/
!data/external/olist/.gitkeep
data/raw/**
!data/raw/.gitkeep
data/processed/**
!data/processed/.gitkeep

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
